<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657644499359-bmhmkl5refmoucs8s4ochc4c61tputk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657644499359-bmhmkl5refmoucs8s4ochc4c61tputk4</string>
	<key>API_KEY</key>
	<string>AIzaSyAtO05GJAfJXNaPWLEyp8xKtOceDbMCt-k</string>
	<key>GCM_SENDER_ID</key>
	<string>657644499359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robinwarden.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-6dc41</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-6dc41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657644499359:ios:12bd1b337157fb7c26cdaa</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-6dc41.firebaseio.com</string>
</dict>
</plist>